:root{
    scroll-behavior: smooth;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header{
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: #12091b;
        color: #9077a0;
        padding: 40px; 
        padding: 40px;
}

header h1 {
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    padding: 20px;
    z-index: 1000;
    right: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none ;
    color: #b5a7cc;
}

section{
    padding: 10px 10px;
}

section h2 {
    padding: 20px
}

.portfolio-item img {
    margin-bottom: 400px;
}

.portfolio-item img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(18, 8, 27);
    color: #9484ac;
    text-align: center;
    padding: 10px 0;
}
